@font-face {
  font-family: "DmSerif";
  src: url("./DMSerifDisplay-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: rgba(77, 80, 83, 1);
}

body {
  max-width: 1920px;
  background: #ffffff;
  margin: 0 auto;
  font-family: "DmSerif";

  .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1210px;
    margin: 2rem auto;

    .nav-left {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 2rem;
      gap: 7px;

      max-width: 227px;
      height: 50px;

      h1 {
        font-weight: 400;

        color: rgba(41, 47, 54, 1);
      }
    }

    .nav-right {
      display: flex;
      justify-content: space-around;
      align-items: center;
      max-width: 644px;
      height: 25px;
      gap: 31px;

      a {
        outline: none;
        text-decoration: none;
        color: black;
        cursor: pointer;
      }
    }
  }

  .image-flower {
    max-width: 1920px;
    height: 356px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: relative;
    img {
      z-index: -1;
      object-fit: cover;
    }

    &::before {
      content: "Single Services";
      position: absolute;
      height: 88px;

      left: 50%;
      top: 65%;
      transform: translate(-50%, -50%);
      padding: 10px;
      font-size: 5rem;
      color: #ffffff;
      z-index: 1000;
      letter-spacing: 1px;
    }
  }

  main {
    margin-top: 4.5rem;
    padding: 0 5.9rem;

    h2 {
      text-align: center;
      font-size: 2.3rem;
    }
    h4 {
      text-align: center;
      margin-top: 3rem;
      color: rgba(205, 162, 116, 1);
    }

    .paragraphe {
      margin: 3rem auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 15px;

      p {
        text-align: start;
        line-height: 33px;
        color: rgba(77, 80, 83, 1);
      }
    }

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 9rem auto;
    }

    .video {
      border-radius: 60px;
      margin: 0 auto;
      max-width: 1210px;
      position: relative;

      &::before {
        content: "";
        border-radius: 50%;
        background-color: #ffffff70;
        position: absolute;
        height: 132px;
        width: 132px;

        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        font-size: 5rem;
        color: #ffffff;
        z-index: 1000;
      }

      video {
        height: 599px;
        max-width: 1210px;
        border-radius: 60px;
        object-fit: cover;
      }
    }

    .explication-container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 1036px;
      gap: 15rem;
      margin: 3rem 0;
      height: 347px;

      .expli-left,
      .expli-right {
        h2 {
          margin-bottom: 2rem;
        }

        .color-list {
          color: rgba(205, 162, 116, 1);
          margin-right: 0.7rem;
        }

        ul > li {
          margin-top: 0.7rem;
          font-size: 1rem;
        }
      }
    }

    .second-part-container {
      height: 310px;
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 2rem;

      .left-part-image {
        width: 100%;
        border-right: 1px solid black;
        padding-right: 2rem;
        height: 310px;

        img {
          width: 100%;
          height: 310px;
          object-fit: cover;
          image-rendering: optimizeQuality;
          border-radius: 0px 200px 0px 0px;
        }
      }
      .right-part-text {
        display: flex;
        justify-content: space-around;
        align-items: start;
        flex-direction: column;

        min-width: 590px;

        height: 310px;
        padding: 0 0.8rem;
        h2 {
          font-size: 3rem;
        }

        button {
          padding: 26px 40px;
          background: rgba(41, 47, 54, 1);
          border-radius: 10px;
          color: rgba(196, 193, 193, 0.644);
          border: none;
          outline: none;
          font-size: 1.1rem;
          cursor: pointer;
        }
      }
    }
    .numbers {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 9rem auto;

      div {
        border-right: 1px solid rgba(205, 162, 116, 1);
        padding-right: 2.5rem;

        &:last-child {
          border: none;
        }
      }

      h2 {
        color: rgba(205, 162, 116, 1);
        margin-bottom: 0.7rem;
        font-size: 2.9rem;
      }
    }
  }

  footer {
    display: grid;
    max-width: 1210px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin: 16rem auto 9rem;

    .first-part-footer {
      width: 100%;
      margin: 1rem;

      .top {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 0.6rem;
        margin-bottom: 1rem;

        li {
          font-weight: 400;
          font-size: 2rem;
          color: rgba(41, 47, 54, 1);
        }
      }

      .social {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2.9rem;
        margin-top: 2rem;
      }
    }

    .second-part-footer {
      margin: 0 auto;
      li {
        margin: 1.7rem 0;
      }
    }

    .contact {
      margin: 0 auto;
      width: 85%;
      h3 {
        margin-bottom: 1rem;
      }
      p {
        margin: 1.4rem auto;
      }
    }
  }

  #copyright {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
}
